USE [master]
GO
/****** Object:  Database [QUAN_LY_CUA_HANG_BAN_DIEN_THOAI]    Script Date: 10/12/2023 18:06:39 ******/
CREATE DATABASE [QUAN_LY_CUA_HANG_BAN_DIEN_THOAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUAN_LY_CUA_HANG_BAN_DIEN_THOAI', FILENAME = N'D:\Tool\SQL\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QUAN_LY_CUA_HANG_BAN_DIEN_THOAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUAN_LY_CUA_HANG_BAN_DIEN_THOAI_log', FILENAME = N'D:\Tool\SQL\MSSQL16.MSSQLSERVER01\MSSQL\DATA\QUAN_LY_CUA_HANG_BAN_DIEN_THOAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUAN_LY_CUA_HANG_BAN_DIEN_THOAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUAN_LY_CUA_HANG_BAN_DIEN_THOAI]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MACHITIETDONHANG] [varchar](255) NOT NULL,
	[MADONHANG] [varchar](10) NOT NULL,
	[MACHITIETSANPHAM] [varchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[KIEMTRATHANHTOAN] [bit] NULL,
 CONSTRAINT [PK_CHITIETDONHANG] PRIMARY KEY CLUSTERED 
(
	[MACHITIETDONHANG] ASC,
	[MADONHANG] ASC,
	[MACHITIETSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETSANPHAM]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETSANPHAM](
	[MACHITIETSANPHAM] [varchar](10) NOT NULL,
	[MASANPHAM] [varchar](10) NULL,
	[TENSANPHAM] [nvarchar](max) NULL,
	[GIA] [float] NULL,
	[MAUSAC] [nvarchar](max) NULL,
	[MOTASANPHAM] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
 CONSTRAINT [PK_CHITIETSANPHAM] PRIMARY KEY CLUSTERED 
(
	[MACHITIETSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADONHANG] [varchar](10) NOT NULL,
	[MAKHACHHANG] [varchar](10) NULL,
	[NGAYDATHANG] [datetime] NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [varchar](10) NOT NULL,
	[MAPERSON] [varchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [varchar](10) NOT NULL,
	[MASANPHAM] [varchar](10) NULL,
	[TENKHO] [nvarchar](max) NULL,
	[DIACHIKHO] [nvarchar](max) NULL,
	[SOLUONG] [int] NULL,
	[SODIENTHOAIKHO] [varchar](15) NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SODIENTHOAI] [varchar](15) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](10) NOT NULL,
	[MAPERSON] [varchar](10) NULL,
	[CHUCVU] [nvarchar](25) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPKHO]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPKHO](
	[MANHAPKHO] [varchar](10) NOT NULL,
	[MASANPHAM] [varchar](10) NULL,
	[MAKHO] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[NGAYNHAP] [datetime] NULL,
	[MANCC] [varchar](10) NULL,
 CONSTRAINT [PK_NHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MANHAPKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[MAPERSON] [varchar](10) NOT NULL,
	[TEN] [nvarchar](max) NULL,
	[SODIENTHOAI] [varchar](15) NULL,
	[EMAIL] [varchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[GIOITINH] [nvarchar](10) NULL,
 CONSTRAINT [PK_PERSON] PRIMARY KEY CLUSTERED 
(
	[MAPERSON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANGCAO]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANGCAO](
	[MAQUANGCAO] [varchar](10) NOT NULL,
	[TENQUANGCAO] [nvarchar](max) NULL,
	[HINHANH] [varchar](max) NULL,
 CONSTRAINT [PK_QUANGCAO] PRIMARY KEY CLUSTERED 
(
	[MAQUANGCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [varchar](10) NOT NULL,
	[TenLoai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MASANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTAIKHOAN] [varchar](max) NULL,
	[MATKHAU] [varchar](255) NULL,
	[LOAITAIKHOAN] [varchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THANHTOANDONHANG]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANHTOANDONHANG](
	[MATHANHTOANDONHANG] [varchar](10) NOT NULL,
	[MADONHANG] [varchar](10) NULL,
	[NGAYTHANHTOAN] [datetime] NULL,
	[TONGTIEN] [float] NULL,
 CONSTRAINT [PK_THANHTOANDONHANG] PRIMARY KEY CLUSTERED 
(
	[MATHANHTOANDONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VITRICUAHANG]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VITRICUAHANG](
	[MAVITRICUAHANG] [varchar](10) NOT NULL,
	[TENVITRICUAHANG] [nvarchar](max) NULL,
	[DIACHICUAHANG] [nvarchar](max) NULL,
 CONSTRAINT [PK_VITRICUAHANG] PRIMARY KEY CLUSTERED 
(
	[MAVITRICUAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATKHO]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATKHO](
	[MAXUATKHO] [varchar](10) NOT NULL,
	[MAKHO] [varchar](10) NULL,
	[MASANPHAM] [varchar](10) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[NGAYXUAT] [datetime] NULL,
 CONSTRAINT [PK_XUATKHO] PRIMARY KEY CLUSTERED 
(
	[MAXUATKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETSANPHAM_CHITIETDONHANG] FOREIGN KEY([MACHITIETSANPHAM])
REFERENCES [dbo].[CHITIETSANPHAM] ([MACHITIETSANPHAM])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETSANPHAM_CHITIETDONHANG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_CHITIETDONHANG] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_DONHANG_CHITIETDONHANG]
GO
ALTER TABLE [dbo].[CHITIETSANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_CHITIETSANPHAM] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETSANPHAM] CHECK CONSTRAINT [FK_SANPHAM_CHITIETSANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_DONHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_KHACHHANG_DONHANG]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_PEROSON_KHACHHANG] FOREIGN KEY([MAPERSON])
REFERENCES [dbo].[PERSON] ([MAPERSON])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_PEROSON_KHACHHANG]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_KHO] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [FK_SANPHAM_KHO]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_PEROSON_NHANVIEN] FOREIGN KEY([MAPERSON])
REFERENCES [dbo].[PERSON] ([MAPERSON])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_PEROSON_NHANVIEN]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_NHAPKHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_KHO_NHAPKHO]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_NHACUNGCAP_NHAPKHO] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_NHACUNGCAP_NHAPKHO]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NHAPKHO] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_SANPHAM_NHAPKHO]
GO
ALTER TABLE [dbo].[THANHTOANDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_THANHTOANDONHANG] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[THANHTOANDONHANG] CHECK CONSTRAINT [FK_DONHANG_THANHTOANDONHANG]
GO
ALTER TABLE [dbo].[XUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_KHO_XUATKHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[XUATKHO] CHECK CONSTRAINT [FK_KHO_XUATKHO]
GO
ALTER TABLE [dbo].[XUATKHO]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_XUATKHO] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[XUATKHO] CHECK CONSTRAINT [FK_SANPHAM_XUATKHO]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG_CTDH] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [CK_SOLUONG_CTDH]
GO
ALTER TABLE [dbo].[KHO]  WITH CHECK ADD  CONSTRAINT [CK_SODIENTHOAIKHO] CHECK  (([SODIENTHOAIKHO] like '[0-9]%' AND len([SODIENTHOAIKHO])<=(15)))
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [CK_SODIENTHOAIKHO]
GO
ALTER TABLE [dbo].[NHACUNGCAP]  WITH CHECK ADD  CONSTRAINT [CK_SODIENTHOAI] CHECK  (([SODIENTHOAI] like '[0-9]%' AND len([SODIENTHOAI])<=(15)))
GO
ALTER TABLE [dbo].[NHACUNGCAP] CHECK CONSTRAINT [CK_SODIENTHOAI]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [CK_DONGIA] CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[PERSON]  WITH CHECK ADD  CONSTRAINT [CK_SODIENTHOAIPERSON] CHECK  (([SODIENTHOAI] like '[0-9]%' AND len([SODIENTHOAI])<=(15)))
GO
ALTER TABLE [dbo].[PERSON] CHECK CONSTRAINT [CK_SODIENTHOAIPERSON]
GO
/****** Object:  StoredProcedure [dbo].[usp_ThongKeDoanhThu]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ThongKeDoanhThu]
    @Thang INT,
    @Nam INT
AS
BEGIN
    SELECT MONTH(NGAYDATHANG) AS Thang, YEAR(NGAYDATHANG) AS Nam, SUM(TONGTIEN) AS TongDoanhThu
    FROM DONHANG
    WHERE MONTH(NGAYDATHANG) = @Thang AND YEAR(NGAYDATHANG) = @Nam
    GROUP BY MONTH(NGAYDATHANG), YEAR(NGAYDATHANG)
    ORDER BY Nam, Thang;
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_ThongKeDonHang]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ThongKeDonHang]
AS
BEGIN
    SELECT TRANGTHAI, COUNT(MADONHANG) AS SoLuongDonHang, STRING_AGG(MADONHANG, ', ') AS DanhSachMaDonHang
    FROM DONHANG
    GROUP BY TRANGTHAI
    ORDER BY SoLuongDonHang DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_ThongKeSanPham]    Script Date: 10/12/2023 18:06:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_ThongKeSanPham]
AS
BEGIN
    SELECT 
        SANPHAM.MASANPHAM, 
        CHITIETSANPHAM.TENSANPHAM, 
        SUM(CHITIETDONHANG.SOLUONG) AS SoLuong, 
        SUM(CHITIETDONHANG.SOLUONG * CHITIETSANPHAM.GIA) AS DoanhThu
    FROM 
        CHITIETDONHANG
    INNER JOIN 
        CHITIETSANPHAM ON CHITIETDONHANG.MACHITIETSANPHAM = CHITIETSANPHAM.MACHITIETSANPHAM
    INNER JOIN 
        SANPHAM ON SANPHAM.MASANPHAM = CHITIETSANPHAM.MASANPHAM
    GROUP BY 
        SANPHAM.MASANPHAM, 
        CHITIETSANPHAM.TENSANPHAM
    ORDER BY 
        DoanhThu DESC;
END;
GO
USE [master]
GO
